<html lang="en">
    <head>
        <body>
            <h1>Recipe Book</h1>
            {% if request.user.is_authenticated %}
                Hello, {{request.user}}
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}"></a>
            {% endif %}
            {% block content %}
            {% endblock %}
        </body>
    </head>
</html>