{% extends 'base.html' %}
{% load static %}

{% block page_heading %}
    {{ object.name }} Recipe
{% endblock %}

{% block content %}
<p>Author: {{ object.author }}</p>
<ul>
{% for ingredient in object.ingredients.all %}
    <li>{{ ingredient.ingredient.name }}, {{ ingredient.quantity }}</li>
{% endfor %}
</ul>

<form action="POST" enctype="multipart/form-data"></form>
<a href="{% url 'ledger:add-image' pk=object.pk %}">Add Image</a>


{% for image in object.images.all %}
    <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
{% endfor %}


<a href="{% url 'ledger:recipes/list' %}">Back to Recipe List</a>

{% endblock %}